---
title: Home
---
.wrapper
    %h2 Hi, I'm Terris. I'm a <a href="https://github.com/Terris">front-end web developer</a> and hobbyist writer, <a href="https://www.instagram.com/terrisjameskremer/">photographer</a>, and musician.
    %nav.nav-secondary
        <a href="https://github.com/Terris"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/terris-kremer-828292147/"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/terrisjameskremer/"><i class="fab fa-instagram"></i></a>
        <a href="https://dribbble.com/terrisj"><i class="fab fa-dribbble"></i></a>
.wrapper.wrapper-lg
    %hr
    .projects
        .projects-col
            %h3 Marketing Sites
            .project-item
                %h4.project-item-title= link_to "Elevated Lawn", "https://www.elevatedlawnutah.com/", target: "_blank"
                %p.project-item-description Marketing site for a Utah based lawn care company.
                %p.project-item-tags
                    Tags: Design, Responsive, HTML, CSS, JavaScript, ExpressionEngine CMS
                %p.project-item-links
                    <a href="https://www.elevatedlawnutah.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            .project-item
                %h4.project-item-title= link_to "Lauren Cain", "http://laurencain.com/", target: "_blank"
                %p.project-item-description A personal portfolio and resume web site for digital strategist, Laurn Cain.
                %p.project-item-tags
                    Tags: Design, Responsive, HTML, CSS, JavaScript, Static Templates
                %p.project-item-links
                    <a href="http://laurencain.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            .project-item
                %h4.project-item-title= link_to "Sidonie Villere", "http://www.sidonievillere.com/", target: "_blank"
                %p.project-item-description A personal portfolio web site for artist Sidonie Villere.
                %p.project-item-tags
                    Tags: Design, Responsive, HTML, CSS, JavaScript, Static Templates
                %p.project-item-links
                    <a href="http://www.sidonievillere.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        .projects-col
            %h3 Software
            .project-item
                %h4.project-item-title= link_to "Maple", "https://maple.surge.sh/", target: "_blank"
                %p.project-item-description Classic project management
                %p.project-item-tags
                    Tags: Web App, HTML, CSS, JavaScript, React, Firebase
                %p.project-item-links
                    <a href="https://github.com/Terris/maple" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://maple.surge.sh/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            .project-item
                %h4.project-item-title= link_to "GameKeep", "https://gamekeep.terrisjkremer.com", target: "_blank"
                %p.project-item-description Keep track of your game scores in real-time from from anywhere.
                %p.project-item-tags
                    Tags: Web App, HTML, CSS, JavaScript, React, Firebase
                %p.project-item-links
                    <a href="https://github.com/Terris/gamekeep" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://gamekeep.terrisjkremer.com" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            .project-item
                %h4.project-item-title= link_to "Rekur", "https://github.com/Terris/rekur", target: "_blank"
                %p.project-item-description Create simple subscription products with Stripe.
                %p.project-item-tags
                    Tags: Web App, HTML, CSS, JavaScript, React, Firebase, Stripe
                %p.project-item-links
                    <a href="https://github.com/Terris/rekur" target="_blank"><i class="fab fa-github"></i></a>
            .project-item
                %h4.project-item-title= link_to "Plantaloons", "https://github.com/Terris/plantaloons", target: "_blank"
                %p.project-item-description A social coummunity for plant lovers.
                %p.project-item-tags
                    Tags: Web App, HTML, CSS, JavaScript, React, Firebase
                %p.project-item-links
                    <a href="https://github.com/Terris/plantaloons" target="_blank"><i class="fab fa-github"></i></a>
        .projects-col
            %h3 Micro Projects
            .project-item
                %h4.project-item-title= link_to "WordToHTML", "https://wordtohtml.terrisjkremer.com/", target: "_blank"
                %p.project-item-description Quickly convert Word docs to HTML.
                %p.project-item-tags
                    Tags: SPA, HTML, CSS, JavaScript, React
                %p.project-item-links
                    <a href="https://github.com/Terris/wordToHTML" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://wordtohtml.terrisjkremer.com/" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            .project-item
                %h4.project-item-title= link_to "2690", "https://2690.terrisjkremer.com", target: "_blank"
                %p.project-item-description An experiment in Chess Board mechanics.
                %p.project-item-tags
                    Tags: SPA, HTML, CSS, JavaScript, React, Redux
                %p.project-item-links
                    <a href="https://github.com/Terris/2690" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://2690.terrisjkremer.com" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            .project-item
                %h4.project-item-title= link_to "Matter Maze", "https://maze.terrisjkremer.com", target: "_blank"
                %p.project-item-description Experimental game mechanics with Matter.js.
                %p.project-item-tags
                    Tags: SPA, HTML, CSS, JavaScript, Matter.js
                %p.project-item-links
                    <a href="https://github.com/Terris/matter-maze" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://maze.terrisjkremer.com" target="_blank"><i class="fas fa-external-link-alt"></i></a>
    %hr